			.principal{
				background: #CCCCCC;
				padding: 30px;
			}

			.banner{
				width: 100%;
			}

			.titulo-principal{
				padding-left: 70px;
			}
			.titulo-centralizado{
				text-align: center;
			}

			p{
				text-align: center;  
			}

			#missao{
				font-size: 20px;
			}

			em strong{
				color: #FF0000;
			}

			.itens{
				font-style: italic;
			}

			.beneficios{
				background: #FFFFFF;
				padding: 20px;
			}

			.imagembeneficio {
				width: 50%;
			}
